database:
  dms:        "MySQL"
  host:       "mysql"
  dbname:     "blog"
  user:       "blog"
  password:   "blog"

swiftmailer:
  server:     smtp.gmail.com
  username:   ""
  password:   ""
  port:       465
  encryption: ssl
  emailTo:    ""

posts_per_page:  5
