<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav navbar-right">
    <li>
      <a href="/">Accueil</a>
    </li>
    <li>
      <a href="/#references">Réferences</a>
    </li>
    <li>
      <a href="/blog">Blog</a>
    </li>

    <li>
      <a href="/#contact">Contact</a>
    </li>

  </ul>
</div>